{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":5341475,"a":"Pre order ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Please note this item is on pre order ","h":"below","i":true,"j":"Pre Order","k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":null};
pn.settings.singleProductSettings=[{"id":6057899,"a":"Pre order ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Please note this item is on pre order ","h":"below","i":true,"j":"Pre Order","k":null,"l":null,"m":"variant","n":"29389569294438","o":true,"handle":"copy-of-stax-wmns-cropped-tank-white","p":"3928048271462","y":"https://cdn.shopify.com/s/files/1/0854/5504/products/untitled_31_of_49.jpg?v=1582234139","q":true,"r":true,"s":-4,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null},{"id":6057898,"a":"Pre order ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Please note this item is on pre order ","h":"below","i":true,"j":"Pre Order","k":null,"l":null,"m":"variant","n":"29389569261670","o":true,"handle":"copy-of-stax-wmns-cropped-tank-white","p":"3928048271462","y":"https://cdn.shopify.com/s/files/1/0854/5504/products/untitled_31_of_49.jpg?v=1582234139","q":true,"r":true,"s":-7,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null},{"id":6057900,"a":"Pre order ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Please note this item is on pre order ","h":"below","i":true,"j":"Pre Order","k":null,"l":null,"m":"variant","n":"29389569327206","o":true,"handle":"copy-of-stax-wmns-cropped-tank-white","p":"3928048271462","y":"https://cdn.shopify.com/s/files/1/0854/5504/products/untitled_31_of_49.jpg?v=1582234139","q":true,"r":true,"s":-3,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null},{"id":6057897,"a":"Preorder Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Women's LUXE LINE restock will start shipping late July","h":"below","i":true,"j":"Pre-Order","k":null,"l":null,"m":"variant","n":"29389569228902","o":false,"handle":"copy-of-stax-wmns-cropped-tank-white","p":"3928048271462","y":"https://cdn.shopify.com/s/files/1/0854/5504/products/untitled_31_of_49.jpg?v=1582234139","q":false,"r":true,"s":0,"t":null,"u":1,"v":true,"w":"circle","tag":null,"x":""}];
pn.settings.tagSettings=[{"id":5344120,"a":"Pre order ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Please note this item is on pre order ","h":"below","i":true,"j":"Pre Order","k":null,"l":null,"m":"tag-parent","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":2,"v":false,"w":"ribbon","tag":"preorder","x":null}];
</script>
{% endraw %}
<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>