<div>
  <div class="product-item__link-wrapper">
    <a class="product-item__link  {% if product_image_spacing %} product-item__image--margins{% endif %}" href='{{ product.url | within: collection }}'   > 
    <span class="image-wrapper">
      {% if product.featured_image.src == blank %}
        <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
      {% else %}
        <noscript>
          <img class="product-item__image-no-js" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
        </noscript>
     
      
        <div class="{% if product.tags contains 'bn_size_box_vertical' %}size-box-vertical {% endif %}product-item__image-container" >
          
            {% if product.images.size > 3 %}
            <div class="product-item__image-wrapper"  style="padding-top:{{ 1 | divided_by: product.images[3].aspect_ratio | times: 100}}%">
            {% assign img_url = product.images[0] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="product-item__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ product.images[3].aspect_ratio }}"
                data-sizes="auto"
                data-second-image="{{ product.images[1] | img_url: '800x800' }}"
                alt="{{ product.images[3].alt | escape }}">
            </div>
            {% endif %}
            
            {% if product.images.size < 4 %}
            
            {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          	<div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[2].aspect_ratio | times: 100}}%">
              <img class="product-item__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ product.images[2].aspect_ratio }}"
                data-sizes="auto"
                data-second-image="{{ product.images[1] | img_url: '800x800' }}"
                alt="{{ product.images[2].alt | escape }}">
              </div>
            {% endif %}
            
            {% if product.images.size ==2   %}
            
            {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          	<div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[1].aspect_ratio | times: 100}}%">
              <img class="product-item__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ product.images[1].aspect_ratio }}"
                data-sizes="auto"
                data-second-image="{{ product.images[0] | img_url: '800x800' }}"
                alt="{{ product.images[1].alt | escape }}">
          	</div>
            {% endif %}
            
            {% if product.images.size == 1   %}
            
            {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          	<div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%">
              <img class="product-item__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ product.images[0].aspect_ratio }}"
                data-sizes="auto"
                data-second-image="{{ product.images[1] | img_url: '800x800' }}"
                alt="{{ product.images[0].alt | escape }}">
          	</div>
            {% endif %}
        </div>
      {% endif %}
        
                  {% comment %}
                    If on sale, add a badge
                  {% endcomment %}
                  {% if product.compare_at_price > product.price %}
                    {% assign sale_text_length = 'products.product.on_sale' | t | size %}
                    <span id-1='{{  product.compare_at_price  }}'  id-2='{{  product.price  }}' class="product-item__badge {% if sale_text_length > 6 %}product-item__badge--large{% endif %}">
                      {{ 'products.product.on_sale' | t }}
                    </span>
                  {% endif %}
                </span>
              </a>
<!--     product-item__meta -->
<!--     <span class=""> -->
<!--           <span class="product-item__meta__inner" style="padding:0;"> -->

            {% if vendor_enable %}
<!--               <p class="product-item__vendor">{{ product.vendor }}</p> -->
            {% endif %}
<!--             <p class="product-item__title">{{ product.title }}</p>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
 -->
<!--             <p class="product-item__price-wrapper"> -->
              {% comment %}
                You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                if your variants have different prices.
              {% endcomment %}
              {% if product.compare_at_price > product.price %}
<!--                 <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span> -->
<!--                 <s class="product-item__price--reg">{{ product.compare_at_price | money_without_trailing_zeros }}</s> -->
<!--                 <span class="product-item__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span> -->
              {% else %}
                {% if product.price_varies %}
                  {{ 'products.general.from_text_html' | t: price: price }}
                {% else %}
                  {% if product.compare_at_price > product.price %}
<!--                     <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span> -->
                  {% else %}
<!--                     <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span> -->
                  {% endif %}
<!--                   {{ product.price | money_without_trailing_zeros }} -->
                {% endif %}
              {% endif %}
<!--             </p> -->
<!--               <p class="product-item__price-wrapper"> -->
              
                      {% comment %}
                        Check if the product is sold out.
                      {% endcomment %}
                      {% unless product.available %}
<!--                         <p class="product-item__sold-out">{{ 'products.product.sold_out' | t }}</p> -->
                      {% endunless %}
<!--                     </span> -->
<!--                   </span> -->
            </div>
            <div class="row quickBuyRow" >
                <div class="quickBuyButtons">
                    {% for variant in product.variants %}
                {% if variant.available %}
                  <p style="display:none" tesasdasdasdt="{{ variant.title }}">
                  </p>
                        
                        {% if variant.title != 'Default Title' %}
                              <div  class="varwrapper three columns quickBuy_Homepage quickBuySizeContainerFour quickBuySizeContainerBorderRight " class="data-q-li-{{ forloop.index }}" data-q-li="{{ forloop.index }}" >
                                <button aria-controls="CartDrawer" aria-expanded="false" class="quickBuySizeInput quickBuy_Homepage-btn js-drawer-open-right btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" type="button" name="add">
                                   {% case variant.title %}
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                      {% when 'WOMENS US 5'  %}
                                        5
                                      {% when 'WOMENS US 6'  %}
                                        6
                                      {% when 'WOMENS US 7'  %}
                                            7
                                      {% when 'WOMENS US 8'  %}
                                            8
                                      {% when 'WOMENS US 9'  %}
                                            9
                                  {% else %}
                      	{{variant.title}}
                                    {% endcase %}
                                </button>
                              </div>
                        {% endif %}
                  {% else %}
                      {% if variant.title != 'Default Title' %}
                              <div tesasdasdasdt="{{ variant.title }}" class="varwrapper three columns quickBuySizeContainerFour quickBuySizeContainerBorderRight  ">
                                <button class="quickBuySizeInput disabled strikethrough" title="Click here and Sign up for restock notifications!"  >
                                   {% case variant.title %}
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                   {% else %}
                      	{{variant.title}}
                                    {% endcase %}
                                </button>
                              </div>
                        {% endif %}
                      {% endif %}
              {% endfor %}
                </div>
                
                
                 {% form 'product', product, id:form_id, class:form_class %}
                {% comment %}
                Select element hidden when JS initializes. Safeguard for JS-disabled.
                {% endcomment %}
               <!-- id="ProductSelect-{{ section.id }}"  -->
                <select name="id" style="display:none">
                  {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                  {% endfor %}
                </select>

                {% if section.settings.show_quantity_selector %}
                <div class="product__quantity quantity-wrapper" style='display:none'>
                  <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity"
                         class="quantity-input"
                         name="quantity" value="1" min="1">
                </div>
                {% endif %}

                {% assign price = current_variant.price | money_without_trailing_zeros %}
                <p class="product__price" style='display:none'>
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
                  {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg js-price">
                    {{ price }}
                  </span>
                  {% endif %}
                </p>

                 {% if product.available %}
                    <button  style="display:none" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                      <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                 {% else %}
                <button  style="display:none" type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                  {{ 'products.product.sold_out' | t }}
                </button>
                {% endif %}
                {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
                {% endif %}
              {% endform %}
                        </div>
  <div class="prod-caption ">
	<a href="{{ product.url }}" title="{{ product.title }}">
		<span>{{ product.title }}</span>
	</a>
    
    {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true %}
    
	<span class="prod-price">
		{% if product.price_varies %}
                  {{ 'products.general.from_text_html' | t: price: price }}
                {% else %}
                  {% if product.compare_at_price > product.price %}
                    <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  {% else %}
                    <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  {% endif %}
                  {{ product.price | money_without_trailing_zeros }}
                {% endif %}
	</span>
</div>
  
  
</div>

 
