<!--bn-collection-item -- colection grid-item one whole  -->
<div class="bn-custom-width bn-item-by-artur bn-collection-item bn_custom_background">
    <div class="product-item__link-wrapper has-tooltip">
        {% comment %}
      {% if forloop.index == 1 and template.name == "index" %}
      <div class="tooltip">
                  <p>Choose your size this way</p>
        <button type="button" class="tut_close close-popup-col">x</button>
                        <video width="100%" muted autoplay preload loop>
                         <source src="https://cdn.shopify.com/s/files/1/0854/5504/files/STAX_online-video-cutter.com_1.mp4?17144" type="video/mp4">
                       </video>
                </div> 
                {% endif %}
                {% endcomment %}
      <a class=" product-item__link  {% if product_image_spacing %} product-item__image--margins{% endif %}" href='{{ product.url  }}'   > 
      <span class="image-wrapper">
        {% if product.featured_image.src == blank %}
          <img  src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}" >
        {% else %}
          <noscript>
            <img class="product-item__image-no-js" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
          </noscript>
         
          <div class=" size-box-vertical {% unless product.tags contains 'bn-product-separator' %} size-box-vertical-onlyunisex {% endunless %} {% if product.template_suffix != 'cap' %} size-box-vertical {% endif %} product-item__image-container ">
            {% comment %}
            <div class="row quickBuyRow" >
                <div class="quickBuyButtons">
                  <div class="size-prod-content container-fluid">
                    <div class="row sizes-row">
                      {% assign productTags = product.tags | join:',' %}
                        {% if product.variants.size !=1 %}
                         {% for variant in product.variants %}
                            {% if variant.available %}  
                              {% if variant.title != 'Default Title' %}
                                {% unless productTags contains 'without-size' %}
                              <div  class="col-lg-1 col-md-2 col-sm-6 col-xs-6 varwrapper three columns quickBuySizeContainerFour quickBuy_Homepage quickBuySizeContainerBorderRight " class="data-q-li-{{ forloop.index }}" data-q-li="{{ forloop.index }}" >

                                <button   class="quickBuySizeInput quickBuy_Homepage-btn {%if variant.title contains '/' %}bn-size-message {% endif %}" type="button" name="add" data-variant-title="{{ variant.title }}" data-collections-handles= "{% for product_type in product.collections %} {%- if product_type.handle == "best-black" -%} true {% break %}{%- endif -%} {% endfor %}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}" >
                                  {% if variant.inventory_policy == "continue"%}
                                     {% if variant.inventory_quantity < 1 %}
                                      <div class="continue-pre-sale"><div class="continue-pre-content">Pre Sale</div></div>
                                     {% endif %}
                                  {% endif %}
                                  {% if variant.inventory_quantity > 0 and product.tags contains "bn_pre_important" %}
                                      <div class="continue-pre-sale"><div class="continue-pre-content">Pre Sale</div></div>
                                  {% endif %}
                                   {% case variant.title %}
                                  		{% when 'xxs' or 'XXS' %}
                                        XXS
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                  		{% when '4xl' or '4XL' %}
                                        4XL
                                        {% when 'XS/S'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/M'%}
                                        WMNS-S MENS-M
                                        {% when 'M/L'%}
                                        WMNS-M MENS-L
                                        {% when 'L/XL'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/2XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/3XL'%}
                                        WMNS-2XL MENS-3XL
                                  		{% when '3XL/4XL'%}
                                        WMNS-3XL MENS-4XL
                                        {% when 'XS/XS'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/S'%}
                                        WMNS-S MENS-M
                                        {% when 'M/M'%}
                                        WMNS-M MENS-L
                                        {% when 'L/L'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/2XL'%}
                                        WMNS-2XL MENS-3XL
                                        {% when '3XL/3XL'%}
                                        WMNS-3XL MENS-4XL
                                      {% when 'WOMENS US 5'  %}
                                        5
                                      {% when 'WOMENS US 6'  %}
                                        6
                                      {% when 'WOMENS US 7'  %}
                                            7
                                      {% when 'WOMENS US 8'  %}
                                            8
                                      {% when 'WOMENS US 9'  %}
                                            9
                                    {% endcase %}
                                </button>
                              </div>
                              {% endunless %}
                        {% endif %}
                  {% else %}
                      {% if variant.title != 'Default Title' %}
                      {% unless productTags contains 'without-size' %}
                              <div tesasdasdasdt="{{ variant.title }}" class="col-lg-1 col-md-2 col-sm-6 col-xs-6 varwrapper three columns quickBuySizeContainerFour quickBuySizeContainerBorderRight  ">
                                <button class="{%if variant.title contains '/' %}bn-size-message{% endif %} quickBuySizeInput disabled strikethrough " title="Click here and Sign up for restock notifications!" data-variant-title="{{ variant.title }}"" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}">
                                   {% case variant.title %}
                                  		{% when 'xxs' or 'XXS' %}
                                        XXS
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                  		{% when '4xl' or '4XL' %}
                                        4XL
                                        {% when 'XS/S'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/M'%}
                                        WMNS-S MENS-M
                                        {% when 'M/L'%}
                                        WMNS-M MENS-L
                                        {% when 'L/XL'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/2XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/3XL'%}
                                        WMNS-2XL MENS-3XL
                                  		{% when '3XL/4XL'%}
                                        WMNS-3XL MENS-4XL
                                        {% when 'XS/XS'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/S'%}
                                        WMNS-S MENS-M
                                        {% when 'M/M'%}
                                        WMNS-M MENS-L
                                        {% when 'L/L'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/2XL'%}
                                        WMNS-2XL MENS-3XL
                                        {% when '3XL/3XL'%}
                                        WMNS-3XL MENS-4XL
                                    {% endcase %}
                                </button>
                              </div>
                              {% endunless %}
                        {% endif %}

                      {% endif %}
                       

              {% endfor %}
              {% else %}
              <p class="has-no-size">One size fits most</p>
              {% endif %}
              {% if productTags contains 'without-size' %}
              <p class="has-no-size">One size fits most </p>
              {% endif %}
                </div>
                 {% form 'product', product, id:form_id, class:form_class %}
                {% comment %}
                Select element hidden when JS initializes. Safeguard for JS-disabled.
                {% endcomment %}
               <!-- id="ProductSelect-{{ section.id }}"  -->
                <select name="id" style="display:none">
                  {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                  {% endfor %}
                </select>

                {% if section.settings.show_quantity_selector %}
                <div class="product__quantity quantity-wrapper" style='display:none'>
                  <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity"
                         class="quantity-input"
                         name="quantity" value="1" min="1">
                </div>
                {% endif %}

                {% assign price = current_variant.price | money_without_trailing_zeros %}
                <p class="product__price" style='display:none'>
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
                  {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg js-price">
                    {{ price }}
                  </span>
                  {% endif %}
                </p>

                 {% if product.available %}
                    <button  style="display:none" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                      <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                 {% else %}
                <button  style="display:none" type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                  {{ 'products.product.sold_out' | t }}
                </button>
                {% endif %}
                {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
                {% endif %}
              {% endform %}
                        </div>
                      </div>
                      </div>
            {% endcomment %}
                        {% include 'swym-product-view', product: product %}
                          <div class="custom-swym-btn-container"> 
                            <button class='  swym-heart swym-button bn_swym_collection_button swym-inject swym-has-fave-count swym-icontext swym-added swym-loaded ' data-swaction="addToWishlist" data-product-id="{{product.id | json}}">
                                <span class="bn_custom_swym_swishlist"><i class="bn_fa far fa-heart"></i></span>
                            </button>
                          </div>   
              {% if product.images.size > 3 %}
  
              {% unless product.tags contains 'bn-product-separator' %} 
              
                   <div class="product-item__image-wrapper"  style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                  
              {% assign img_url = product.images[0] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
                <img class="product-item__image   lazyload" 
                  data-src="{{ product.images[0] | img_url: "800x800" }}" 
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"  
                  data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                  data-sizes="auto" 
                  data-second-image="{{ product.images[1] | img_url: "800x800" }}"  
                  alt="{{ product.images[0].alt | escape }}" /> 
                  <img src="" class="product-item__image zooming-image " 
                  data-zoom-src="{{ product.images[0] | img_url: "2000x2000" }}" /> 
                  {% if product.tags contains "bn_pre_badge" %} 
                  <div class="bn-badge-sale"> 
                     <p class="preTitle">Pre Sale</p> 
                    <p class="preMessage">SHIPPING IN 6-8 WEEKS</p> 
                  </div>  
                  {% endif %} 
              </div>  
                    {% else %}  
                    {% assign img_url = product.images.last.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
                    <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                      <img class="product-item__image lazyload" 
                        data-src="{{ product.images.last | img_url: "800x800"}}"  
                          
                          
                        data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                        data-sizes="auto" 
                        data-second-image="{{ product.images.last | img_url: "800x800"}}" 
                        alt="{{ product.images[0].alt | escape }}"> 
                        <img src="" class="product-item__image zooming-image  "
                        data-zoom-src="{{ product.images.last | img_url: "2000x2000"}}" /> 
                    </div>  
                      
                {% endunless %} 
              {% endif %} 
                
              {% if product.images.size < 4 and product.images.size !=2  and product.images.size !=1 %} 
              {% unless product.tags contains 'bn-product-separator' %} 
              {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %} 
              <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                <img class="product-item__image lazyload" 
                 data-src="{{ product.images[0] | img_url: "800x800" }}"  
                  
                  data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                  data-sizes="auto" 
                  data-second-image="{{ product.images[1] | img_url: "800x800"}}" 
                  alt="{{ product.images[0].alt | escape }}"> 
                  
                  <img src="" class="product-item__image zooming-image " 
                  data-zoom-src="{{ product.images[0] | img_url: "2000x2000" }}" /> 
                </div>  
                {% else %}  
                    {% assign img_url = product.images.last.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
                    <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                      <img class="product-item__image lazyload" 
                        data-src="{{ product.images.last | img_url: "800x800"}}"  
                          
                          
                        data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                        data-sizes="auto" 
                        data-second-image="{{ product.images.last | img_url: "800x800"}}" 
                        alt="{{ product.images[0].alt | escape }}"> 
                        <img  src="" class="product-item__image zooming-image  lazyload" 
                   data-zoom-src="{ product.images.last | img_url: "2000x2000"}}"/> 
                    </div>  
                      
                {% endunless %} 
              {% endif %} 
                
              {% if product.images.size == 2   %} 
               {% unless product.tags contains 'bn-product-separator' %}  
              {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %} 
              <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                <img class="product-item__image lazyload" 
                  data-src="{{ product.images[0] | img_url: "800x800"}}"  
                    
                    
                  data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                  data-sizes="auto" 
                  data-second-image="{{ product.images[1] | img_url: "800x800"}}" 
                  alt="{{ product.images[0].alt | escape }}"> 
                  <img src="" class="product-item__image zooming-image  lazyload" 
                  data-zoom-src="{{ product.images[0] | img_url: "2000x2000" }}" 
                  /> 
              </div>  
               {% else %} 
                    {% assign img_url = product.images.last.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
                    <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                      <img class="product-item__image lazyload" 
                        data-src="{{ product.images.last | img_url: "800x800"}}"  
                          
                          
                        data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                        data-sizes="auto" 
                        data-second-image="{{ product.images.last | img_url: "800x800"}}" 
                        alt="{{ product.images[0].alt | escape }}"> 
                        <img src="" class="product-item__image zooming-image  lazyload" 
                  data-zoom-src="{{ product.images.last | img_url: "2000x2000" }}"/> 
                    </div>  
                      
                {% endunless %} 
              {% endif %} 
                
              {% if product.images.size == 1   %} 
               {% unless product.tags contains 'bn-product-separator' %}  
              {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %} 
              <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                <img class="product-item__image lazyload" 
                  data-src="{{ product.images[0] | img_url: "800x800"}}"  
                    
                    
                  data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                  data-sizes="auto" 
                  data-second-image="{{ product.images[1] | img_url: "800x800"}}" 
                  alt="{{ product.images[0].alt | escape }}"> 
                  <img src="" class="product-item__image zooming-image  lazyload" 
                  data-zoom-src="{{ product.images[0] | img_url: "2000x2000" }}" 
                  /> 
              </div>  
               {% else %} 
                    {% assign img_url = product.images.last.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
                    <div class="product-item__image-wrapper" style="padding-top:{{ 1 | divided_by: product.images[0].aspect_ratio | times: 100}}%"> 
                      <img class="product-item__image lazyload" 
                        data-src="{{ product.images.last | img_url: "800x800"}}"  
                          
                          
                        data-aspectratio="{{ product.images[0].aspect_ratio }}" 
                        data-sizes="auto" 
                        data-second-image="{{ product.images.last | img_url: "800x800"}}" 
                        alt="{{ product.images[0].alt | escape }}"> 
                        <img src="" class="product-item__image zooming-image  lazyload" 
                  data-zoom-src="{{ product.images.last | img_url: "2000x2000" }}" 
                  /> 
                    </div>  
                      
                {% endunless %} 
              {% endif %}
            {% comment %}
              <div class="row quickBuyRow mobile" >
                <div class="quickBuyButtons">
                  <div class="size-prod-content container-fluid">
                    <div class="row sizes-row custom-vertical-slideshow {% if product.variants.size ==1 %}bn-custom-one-size{% endif %}">
                      {% if product.variants.size !=1 %}
                    {% for variant in product.variants %}
                        {% if variant.available %}
                        
                        {% if variant.title != 'Default Title' %}
                              <div  class="col-lg-1 col-md-2 col-sm-6 col-xs-6 varwrapper three columns quickBuySizeContainerFour quickBuy_Homepage quickBuySizeContainerBorderRight " class="data-q-li-{{ forloop.index }}" data-q-li="{{ forloop.index }}" >

                                <button   class="{%if variant.title contains '/' %}bn-size-message{% endif %} quickBuySizeInput quickBuy_Homepage-btn" type="button" name="add" data-variant-title="{{ variant.title }}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}">
                                  {% if variant.inventory_policy == "continue"%}
                    {% if variant.inventory_quantity < 1 %}
                    <div class="continue-pre-sale"><div class="continue-pre-content">Pre Sale</div></div>
                   
                    {% endif %}
                    {% endif %}
                    {% if variant.inventory_quantity > 0 and product.tags contains "bn_pre_important" %}
                       <div class="continue-pre-sale"><div class="continue-pre-content">Pre Sale</div></div>
                    {% endif %}
                                   {% case variant.title %}
                                  		{% when 'xxs' or 'XXS' %}
                                        XXS
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                  		{% when '4xl' or '4XL' %}
                                        4XL
                                        {% when 'XS/S'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/M'%}
                                        WMNS-S MENS-M
                                        {% when 'M/L'%}
                                        WMNS-M MENS-L
                                        {% when 'L/XL'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/2XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/3XL'%}
                                        WMNS-2XL MENS-3XL
                                  		{% when '3XL/4XL'%}
                                        WMNS-3XL MENS-4XL
                                        {% when 'XS/XS'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/S'%}
                                        WMNS-S MENS-M
                                        {% when 'M/M'%}
                                        WMNS-M MENS-L
                                        {% when 'L/L'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/2XL'%}
                                        WMNS-2XL MENS-3XL
                                        {% when '3XL/3XL'%}
                                        WMNS-3XL MENS-4XL
                                      {% when 'WOMENS US 5'  %}
                                        5
                                      {% when 'WOMENS US 6'  %}
                                        6
                                      {% when 'WOMENS US 7'  %}
                                            7
                                      {% when 'WOMENS US 8'  %}
                                            8
                                      {% when 'WOMENS US 9'  %}
                                            9
                                  
                                    {% endcase %}
                                </button>
                              </div>
                        {% endif %}
                  {% else %}
                      {% if variant.title != 'Default Title' %}
                              <div  class="col-lg-1 col-md-2 col-sm-6 col-xs-6 varwrapper three columns quickBuySizeContainerFour quickBuySizeContainerBorderRight  ">
                                <button class="{%if variant.title contains '/' %}bn-size-message{% endif %} quickBuySizeInput disabled strikethrough" title="Click here and Sign up for restock notifications!"  >
                                   {% case variant.title %}
                                  		{% when 'xxs' or 'XXS' %}
                                        XXS
                                      {% when 'xs' or 'XS' %}
                                        XS
                                      {% when 'small' or 'XS' %}
                                        S
                                      {% when 'medium' or 'M' %}
                                        M
                                      {% when 'large'  or 'L'%}
                                        L
                                      {% when 'xl' or 'XL'%}
                                        XL
                                      {% when '2xl' or  '2XL'%}
                                        2XL
                                      {% when '3xl' or '3XL' %}
                                        3XL
                                  		{% when '4xl' or '4XL' %}
                                        4XL
                                        {% when 'XS/S'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/M'%}
                                        WMNS-S MENS-M
                                        {% when 'M/L'%}
                                        WMNS-M MENS-L
                                        {% when 'L/XL'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/2XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/3XL'%}
                                        WMNS-2XL MENS-3XL
                                  		{% when '3XL/4XL'%}
                                        WMNS-3XL MENS-4XL
                                        {% when 'XS/XS'%}
                                        WMNS-XS MENS-S
                                        {% when 'S/S'%}
                                        WMNS-S MENS-M
                                        {% when 'M/M'%}
                                        WMNS-M MENS-L
                                        {% when 'L/L'%}
                                        WMNS-L MENS-XL
                                        {% when 'XL/XL'%}
                                        WMNS-XL MENS-2XL
                                        {% when '2XL/2XL'%}
                                        WMNS-2XL MENS-3XL
                                        {% when '3XL/3XL'%}
                                        WMNS-3XL MENS-4XL
                                   
                                    {% endcase %}
                                </button>
                              </div>
                        {% endif %}

                      {% endif %}
                      

              {% endfor %}
              {% else %}
              <p class="has-no-size">One size fits most </p>
              {% endif %}
                </div>
                
                
                 {% form 'product', product, id:form_id, class:form_class %}
                {% comment %}
                Select element hidden when JS initializes. Safeguard for JS-disabled.
                {% endcomment %}
               <!-- id="ProductSelect-{{ section.id }}"  -->
                <select name="id" style="display:none">
                  {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                  {% endfor %}
                </select>

                {% if section.settings.show_quantity_selector %}
                <div class="product__quantity quantity-wrapper" style='display:none'>
                  <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity"
                         class="quantity-input"
                         name="quantity" value="1" min="1">
                </div>
                {% endif %}

                {% assign price = current_variant.price | money_without_trailing_zeros %}
                <p class="product__price" style='display:none'>
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
                  {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg js-price">
                    {{ price }}
                  </span>
                  {% endif %}
                </p>

                 {% if product.available %}
                    <button  style="display:none" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                      <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                 {% else %}
                <button  style="display:none" type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                  {{ 'products.product.sold_out' | t }}
                </button>
                {% endif %}
                {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
                {% endif %}
              {% endform %}
                        </div>
                      </div>
              </div>
              {% endcomment %}
          </div>
        {% endif %}
          
                    {% comment %}
                      If on sale, add a badge
                    {% endcomment %}
                    {% if product.compare_at_price > product.price %}
                      {% assign sale_text_length = 'products.product.on_sale' | t | size %}
                      <span id-1='{{  product.compare_at_price  }}'  id-2='{{  product.price  }}' class="product-item__badge {% if sale_text_length > 6 %}product-item__badge--large{% endif %}">
                        {{ 'products.product.on_sale' | t }}
                      </span>
                    {% endif %}
                  </span>
                  <div class="message-and-wishlist">
                    <div class="message-and-wishlist-message">
                      {% if product.tags contains 'bn-now-available' and product.tags contains 'bn-pre-shipping-7-days'%}
                        <div class="grid-green-info"></div>
                      {% elsif product.tags contains "bn-pre-shipping-7-days" %}
                        <div class="grid-red-info"><img src="https://cdn.shopify.com/s/files/1/0854/5504/files/Vector.svg?v=1606299547" class="bn_shipping_ig">Shipping in 7 days</div>
                      {% elsif product.tags contains "bn-now-available" %}
                        <div class="grid-green-info">Now available</div>
                      {% elsif product.tags contains "bn-ready-to-ship" %}
                        <div class="grid-green-info"><img src="https://cdn.shopify.com/s/files/1/0854/5504/files/Vector.svg?v=1606299547" class="bn_shipping_ig">Ready to ship</div>
                      {% elsif product.tags contains "bn-pre-shipping-4-6" %}
                        <div class="grid-green-info"><img src="https://cdn.shopify.com/s/files/1/0854/5504/files/Vector.svg?v=1606299547" class="bn_shipping_ig">Shipping in 4-6 weeks</div>
                      {% else %}
                         <div class="grid-red-info"></div>
                      {% endif %}
                  </div>
                    
                 </div>
                </a>
  <!--     product-item__meta -->
  <!--     <span class=""> -->
  <!--           <span class="product-item__meta__inner" style="padding:0;"> -->
  
              {% if vendor_enable %}
  <!--               <p class="product-item__vendor">{{ product.vendor }}</p> -->
              {% endif %}
  <!--             <p class="product-item__title">{{ product.title }}</p>
  {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true %}
  {% comment %}End automatically added Judge.me widget{% endcomment %}
   -->
  <!--             <p class="product-item__price-wrapper"> -->
                {% comment %}
                  You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                  if your variants have different prices.
                {% endcomment %}
                {% if product.compare_at_price > product.price %}
  <!--                 <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span> -->
  <!--                 <s class="product-item__price--reg">{{ product.compare_at_price | money_without_trailing_zeros }}</s> -->
  <!--                 <span class="product-item__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span> -->
                {% else %}
                  {% if product.price_varies %}
                    {{ 'products.general.from_text_html' | t: price: price }}
                  {% else %}
                    {% if product.compare_at_price > product.price %}
  <!--                     <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span> -->
                    {% else %}
  <!--                     <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span> -->
                    {% endif %}
  <!--                   {{ product.price | money_without_trailing_zeros }} -->
                  {% endif %}
                {% endif %}
  <!--             </p> -->
  <!--               <p class="product-item__price-wrapper"> -->
                
  
                        {% comment %}
                          Check if the product is sold out.
                        {% endcomment %}
                        {% unless product.available %}
  <!--                         <p class="product-item__sold-out">{{ 'products.product.sold_out' | t }}</p> -->
                        {% endunless %}
  <!--                     </span> -->
  <!--                   </span> -->
              </div>
    <div class="prod-caption bn_prod_caption">
      
      {% comment %} {% if product.tags contains "bn-pre-shipping-6-8" %}
             <div class="grid-red-info">Shipping in 6-8 weeks</div>
      {% elsif product.tags contains "bn-pre-shipping-4-6" %}
            <div class="grid-red-info">Shipping in 4-6 weeks</div>
      {% elsif product.tags contains "bn-pre-shipping-7-days" %} 
            <div class="grid-red-info">Shipping in 7 days</div>
      {% else %}
          <div class="grid-red-info">&nbsp;</div>
      {% endif %} {% endcomment %}
  
      
  
     <div class="for_prod_price_and_wishlist_button">
          <a href="{{ product.url }}" title="{{ product.title }}">
            <!-- <p class="correct_text">{{ product.title | strip_html | truncate: 40 }}</p> -->
            {% assign first_title = product.title | split: "- " | first %}
            {% assign second_title = product.title | split: "- " | last %}
            <p class="correct_text  bn_title_"> {{first_title}}</p>
            <p class="correct_text  bn_subtitle_"> {{second_title}}</p>
            
          </a>
          
      </div>
      
                  <div class="prod-price bn_custom_prod_price_without_sale_badge">
                    {% if product.price_varies %}
                    {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}	
                    {% if product.compare_at_price > product.price %}
                      <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                    {% else %}
                      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                    {% endif %}
                    {% assign price = product.price | money_without_trailing_zeros %}
                      <p class="product__price">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                        {% if product.compare_at_price_max > product.price %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="product__price--sale bn_custom_font_size">{{ 'products.general.now_price_html' | t: price: price }}</span>
                        <span class="product__price--reg">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                        {% else %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="product__price--reg js-price ">
                        {{ price }}
                        </span>
                        {% endif %}
                      </p>
                      {% endif %}
                  </div>


  <!-- <div class="bn_divider"></div> -->
  <!-- <form method="post" action="/cart/add" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data">
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    <div class="bn_prod_options_and_addtovart">
       <select name="id" id="ProductSelect-{{ section.id }}" class="">
          {% for variant in product.variants %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
          {% endfor %}
       </select>
    <input type="submit" value="Add to cart " class="btn bn_Collection_form_submit_btn " />
    
      </div> 
 </form>  -->
 
      {% comment %}{% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true %}{% endcomment %}
      
      
         
  
  </div>
    <div class="select-size-container">
      <div class="bn-size-boxes">
        <select class="bn-size-select">
          <option disabled value="" selected>Choose Size</option>
          {% assign badge = '' %} 
          {% for variant in product.variants %}
          {% if variant.inventory_policy == "continue"%}
              {% unless product.tags contains "bn_pre_important" %}
                 {% if variant.inventory_quantity < 1 %}
                 {% assign badge = 'Pre Sale' %} 
                 {% endif %}
              {% else %}
              {% if variant.inventory_quantity > -1 %}
              {% assign badge = 'Pre Sale' %} 
                {% else %}
                {% assign badge = 'Sold Out' %} 
                {% endif %}
              {% endunless %}
              {% endif %}

          <option value="{{variant.title}}" data-badge="{{badge}}" data-variant-id="{{variant.id}}" {% unless variant.available %}disabled {% endunless %}> 
            {% case variant.title %}
                {% when 'small' or 'S' %}
                  S
                {% when 'medium' or 'M' %}
                  M
                {% when 'large'  or 'L'%}
                  L
                {% when 'XS/S'%}
                  WMNS-XS MENS-S
                {% when 'S/M'%}
                  WMNS-S MENS-M
                {% when 'M/L'%}
                  WMNS-M MENS-L
                {% when 'L/XL'%}
                  WMNS-L MENS-XL
                {% when 'XL/2XL'%}
                  WMNS-XL MENS-2XL
                {% when '2XL/3XL'%}
                  WMNS-2XL MENS-3XL
                {% when '3XL/4XL'%}
                  WMNS-3XL MENS-4XL
                {% when 'XS/XS'%}
                  WMNS-XS MENS-S
                {% when 'S/S'%}
                  WMNS-S MENS-M
                {% when 'M/M'%}
                  WMNS-M MENS-L
                {% when 'L/L'%}
                  WMNS-L MENS-XL
                {% when 'XL/XL'%}
                  WMNS-XL MENS-2XL
                {% when '2XL/2XL'%}
                  WMNS-2XL MENS-3XL
                {% when '3XL/3XL'%}
                  WMNS-3XL MENS-4XL
                 {% else %}
                    {{variant.title | upcase }}                    
              {% endcase %}
              
          </option>
          {% assign badge = '' %} 
          {% endfor %}
        </select>
      </div>
      <div class="bn-add-to-cart-container">
        <button type="submit" class="btn bn-add-to-cart">ADD TO CART
          <div class="continue-pre-sale"><div class="continue-pre-content">Pre Sale</div></div>
        </button>
        </div>
    </div>
    
  {% render 'preorder-now-collection-item', product: product %}</div>
  
   
  