<div id="shopify-section-{{ section.id }}" class="bn-section-2020 shopify-section index-section custom-html-section">
  <div class="grid grid--uniform" data-section-id="{{ section.id }}" data-section-type="custom-html-section">
    <div class=" ">
      <!--     <div class="page-width"> -->
      <div id="banner_custom_1">
        
        
           
          
        <div class="banner_section_bg " style="background-color: {{section.settings.banner_bg_color}}!important">
          {% if section.settings.title != blank %}
          <h2>{{ section.settings.title | escape }}</h2>
        {% endif %}
          <div class="banner_section_content">
            
            {% if section.settings.title-second != blank %}
            <h3>{{ section.settings.title-second | escape }}</h3>
            {% endif %}
          </div>
        </div>
        <div id="banner-image-bn">
          </div>
          <a href="{{section.settings.text-link}}">
          <div class="banner_section3">
            <div class="banner_section_content3_2" >
              <div>
                <video muted="" playsinline="" autoplay="" loop="" preload="auto" style="width:100%" src="{{section.settings.video_url}}">
                  <source src="{{section.settings.video_url}}" type="video/mp4">
                </video>
              </div>
            </div>
            <div class="night_fever">
              
              
            </div>
            
          </div>
        </a>
          
        <div class="banner_section2">
          <div class="banner_section_content2">
            <p class="content2_text">
            {% if section.settings.title-left != blank %}
            {{ section.settings.title-left | escape }}
            {% endif %}
            </p>
          </div>
          <div class="banner_section_content2">
            <div class="banner_section_content2_2">
              <div>
                <img class="logo_right__image lazyload"
            data-src="//cdn.shopify.com/s/files/1/0854/5504/{{ section.settings.logo_right}}"
            
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ section.settings.logo_right.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ section.settings.logo_right.alt | escape }}">
<!--                 <img src="https://cdn.shopify.com/s/files/1/0854/5504/files/PREMIUM_SEAMLESS_BANNER.jpg?12233"> -->
              </div>
              
            </div>

          </div>
        </div>
      </div>
      <!--     </div> -->
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Video Banner",
    "class": "index-section custom-video-banner",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url",
        "default": "Video Link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Video alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "banner_bg_color",
        "label": "Banner Color",
        "default": "Hexadecimal Code"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Custom Banner"
      },
      {
        "type": "text",
        "id": "title-second",
        "label": "Heading 2",
        "default": "Custom Banner"
      },
      {
        "type": "text",
        "id": "title-left",
        "label": "Left title",
        "default": "Left title"
      },
	 {
        "type": "image_picker",
        "id": "logo_right",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "text-link",
        "label": "link here top",
        "default": "link here top"
      },
      {
        "type": "text",
        "id": "button_label_custom",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link_custom",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "BN-Systems Custom Video Banner",
        "category": "Video"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
