<div class="bn-section-2020 top-collections" data-section-id="{{ section.id }}" data-section-type="top-collections-section">
  {% comment %}
    By default, featured products come from your Frontpage collection.
    This collection is empty by default and must have products added to it
  {% endcomment %}
  {% assign left_image = section.settings.left_image | img_url: '1024x1024' %}
  {% assign left_url = section.settings.left_url %}
  {% assign center_image = section.settings.center_image | img_url: '1024x1024' %}
  {% assign center_url = section.settings.center_url %}
  {% assign right_image = section.settings.right_image | img_url: '1024x1024' %}
  {% assign right_url = section.settings.right_url %}
  {% assign alt_image_left = left_url  | replace: "/", " " %}
  {% assign alt_image_center = center_url  | replace: "/", " " %}
  {% assign alt_image_left = right_url  | replace: "/", " " %}
  
  {% comment %}Heading for screen readers{% endcomment %}
  <h2 class="bn-collection-header">{{ section.settings.top_collection_title }}</h2>
<!--multiple collection container -->
<div class="bn-container">
  <div class="top-collections-content">
    <div class="top-coll top-collection-left">
      <a href="{{left_url}}">
        <img class="lazyload" data-src="{{left_image}}" alt="{{alt_image_left}}" title="{{alt_image_left}}">
      </a>
    </div>
    <div class="top-coll top-collection-center">
      <a href="{{center_url}}">
        <img class="lazyload" data-src="{{center_image}}" alt="{{alt_image_center}}" title="{{alt_image_center}}">
      </a>
    </div>
    <div class="top-coll top-collection-right">
      <a href="{{right_url}}">
        <img class="lazyload" data-src="{{right_image}}" alt="{{alt_image_right}}" title="{{alt_image_right}}">
      </a>
    </div>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Top collections",
    "class": "index-section multiple-collection-section",
    "settings": [{
        "type": "header",
        "content": "Top Collections"
      },
      {
        "type": "text",
        "id": "top_collection_title",
        "label": "Collection Title"
      },
      {
        "type": "header",
        "content": "Image Left"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image (required)"
      }, {
      "type" : "url",
      "id": "left_url",
      "label": "Left URL"
    },
    {
        "type": "header",
        "content": "Image Center"
      },
      {
        "type": "image_picker",
        "id": "center_image",
        "label": "Center Image (required)"
      }, {
      "type" : "url",
      "id": "center_url",
      "label": "Center URL"
    },
    {
        "type": "header",
        "content": "Image Right"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image (required)"
      }, {
      "type" : "url",
      "id": "right_url",
      "label": "Right URL"
    }],
    "presets": [{
      "name": "Top Collections",
      "category": "Collection"
    }]
  }
{% endschema %}
